<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p v-if="!show">Can you see me?</p>
      <p v-else>You can't see me</p>
      <button @click="show =!show">Toggle</button>
      <p v-if="option === 'A'">A</p>
      <p v-else-if="option === 'B'">B</p>
      <p v-else>Neither A or B</p>
      <template v-if="show">
        <h1>Template</h1>
        <p>These are nested in a template</p>
      </template>
    </div>
    <script src="./main.js"></script>
  </body>
</html>
